RewriteEngine on
RewriteCond %{DOCUMENT_ROOT}/child/%{HTTP_HOST}/assets/js/app-before.js -f
RewriteRule ^assets/js/app-before.js$ child/%{HTTP_HOST}/assets/js/app-before.js [NC,QSA]
RewriteCond %{DOCUMENT_ROOT}/child/%{HTTP_HOST}/assets/css/bootstrap.css -f
RewriteRule ^assets/css/bootstrap.css$ child/%{HTTP_HOST}/assets/css/bootstrap.css [NC,QSA]
RewriteCond %{DOCUMENT_ROOT}/child/%{HTTP_HOST}/assets/img/logo.png -f
RewriteRule ^assets/img/logo.png$ child/%{HTTP_HOST}/assets/img/logo.png [NC,QSA]
