/* placeholder plus clair */
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.4; /* Firefox */
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0.4;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.4;
}


.calcul_level1,
.calcul_level2,
.calcul_level3 {
    display: none;
}

#app-alert {
    display: none;
    left: 0;
    margin: auto; 
    position: fixed;
    right: 0;
    text-align: center;
    bottom: 1em;
    width: 80%;
    z-index: 999; 
}

.resp-sharing-button__link {
  display: none;
}

.debug {
  display: none;
}

#dialog-contact,
#dialog-custom-material,
#dialog-custom-wall,
#dialog-rsirse {
  display:none;
}

/* Expert Mode */
.wall-rsi-rse-popup {
  cursor: pointer;
}
#temp_base_load {
  width: 20px;
  height: 20px;
  display: none;
}
#map {
    width: 100%; height: 300px;
}
#opendata,
#result,
#suggestion {
    display: none;
}

#opendataTab {
    width: 100%
}

#opendataTab thead {
  text-align: center
}

#suggestion th {
  text-align: center;
}
#suggestion table {
  width: 100%;
}
#suggestion table,
#suggestion td,
#suggestion th {
  border: 1px solid #2F2F2F;
}
#suggestionTransparentConsole {
  font-size: 80%;
}
.card {
/*    padding: 10px;*/
    margin: 10px;
}
.input-group {
    margin-bottom: 3px;
    margin-top: 3px;
}

.opendata-link {
  text-align: center;
}

/* Expert mode */
.col-number {
  width: 100px;
}
#projectsvg  g[onclick^=rsirse] {
  cursor: pointer;
  outline-offset: 5px;
}
#projectsvg g:hover[onclick^=rsirse] {
  outline: solid 3px red;
}
/*#projectsvg svg  { 
  display: inline-block;
  position: absolute; 
  top: 0; 
  left: 0; 
}*/

/* Loader : */

#loadData_background {
  /* https://css-tricks.com/css-page-loader/ */
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  /* https://www.primfx.com/creer-flou-arriere-plan-css/ */
  -webkit-backdrop-filter: blur(15px); /* assure la compatibilitÃ© avec safari */
  backdrop-filter: blur(15px) grayscale(2) opacity(0.9);
  z-index: 89;
}

#loadData_messages {
  /* https://css-tricks.com/css-page-loader/ */
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 30%;
  margin-top: -50px;
  z-index: 99;
}

#loadData_messages .loading-gif,
#loadData_messages .message,
#loadData_error {
  text-align: center;
}
#loadData_error {
  display: none;
}

/* i18n */
.locale-switcher {
    position: fixed;
    top: 0px;
    right: 20px;
    padding: 6px;
    border: 1px solid #2F2F2F;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: #616161; 
	-moz-box-shadow: 0 0 10px black; 
	-webkit-box-shadow: 0 0 10px black; 
	box-shadow: 0 0 10px black; 
	opacity: 0.60;
	z-index: 999;
}
.locale-switcher li {
    display: inline-block;
}
.locale-switcher ul {
    margin: 0px;
    padding: 0px;
    list-style-type:none;
}
.locale-switcher img {
	margin-right: 6px;
	margin-left: 6px;
}
.locale-switcher .active {
	opacity: 0.50;
}

/* Default */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
    z-index: 1500;
}

/* Bouton de partage : https://sharingbuttons.io/ */
/*.resp-sharing-button__link,*/
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

.resp-sharing-button--xing {
  background-color: #1a7576;
  border-color: #1a7576;
}

.resp-sharing-button--xing:hover
.resp-sharing-button--xing:active {
  background-color: #114C4C;
  border-color: #114C4C;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

.resp-sharing-button--hackernews {
  background-color: #FF6600;
  border-color: #FF6600;
}

.resp-sharing-button--hackernews:hover
.resp-sharing-button--hackernews:active {
  background-color: #FB6200;
  border-color: #FB6200;
}

.resp-sharing-button--vk {
  background-color: #507299;
  border-color: #507299;
}

.resp-sharing-button--vk:hover
.resp-sharing-button--vk:active {
  background-color: #43648c;
  border-color: #43648c;
}

.resp-sharing-button--telegram {
  background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;}

