
$body-bg: #f2f2f2;
$font-weight-normal: 600;
$font-weight-bold: 900;
$primary: #ca5f2f;
$secondary: #7ebdc2;
$green: rgb(76, 172, 98);
$yellow: rgb(255, 220, 112);
$red: rgb(221, 98, 110);
$toast-border-radius: 0.5rem;