
$body-bg: #F4F4F4;
$yellow: #ffde5f;
$primary: $yellow;
$warning: $orange;
$blue: #3a85ea;
$link-color: $blue;
$green: #bee9ba;
$table-accent-bg: $green;
$table-hover-bg: #f7d2b4;
$table-dark-bg: $red;